<% include partials/header %>
<body class="container landing">
<div class="container text-center"  >

<div id="center" >
    <h1 class="bold">Share your favorite books with us</h1>
    <a class="btn btn-lg btn-warning" href="/books">View all books</a>
</div>

</div>

<% include partials/footer %>
